@model IEnumerable<MVCAuthApp.Models.Match>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div class="container">
        <ul class="collapsible">
            @foreach (var item in Model)
            {
            <li>
                <div class="row collapsible-header">


                    <div class="col x13" style="text-align:center;">
                        <img src="~/Media/@(item.localteam_name).png" style="height:60px;" />
                        @Html.DisplayFor(modelItem => item.localteam_name)<br />
                        <br />@Html.DisplayFor(modelItem => item.localteam_id)
                    </div>


                    <div class="col x13" style="text-align:center;">
                        <div class="col x14" style="text-align:center;"></div> <h3>@Html.DisplayFor(modelItem => item.localteam_score)</h3>
                        <div class="col x14" style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.formatted_date)<br />
                            @Html.DisplayFor(modelItem => item.venue)<br />
                            @Html.DisplayFor(modelItem => item.venue_city)<br />
                            @Html.DisplayFor(modelItem => item.status)
                        </div>
                        <div class="col x14" style="text-align:center;"><h3>@Html.DisplayFor(modelItem => item.visitorteam_score)</h3></div>
                    </div>


                    <div class="col x13" style="text-align:center;">
                        <img src="~/Media/@(item.visitorteam_name).png" style="height: 60px;" />
                        @Html.DisplayFor(modelItem => item.visitorteam_name)<br />

                    </div>
                </div>
                <div class="collapsible-body">

                    @foreach(var evet in item.events)
                    {
                    <div class="row">

                        <div class="col x12">@Html.DisplayFor(modelItem => item.season)</div>
                        <div class="col x12">@Html.DisplayFor(modelItem => item.status)</div>
                        <div class="col x12">@Html.DisplayFor(modelItem => item.week)</div>



                    </div>
                    }



                </div>
            </li>
            }

        </ul>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>



</body>
</html>

