@model IEnumerable<MVCAuthApp.Models.Match>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">

    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.comp_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.formatted_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.week)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venue_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venue_city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localteam_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localteam_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localteam_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.visitorteam_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.visitorteam_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.visitorteam_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ht_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ft_score)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
